/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root{
    --gold1:#f4bd76;
    --gold2:#f6cd8f;
    --gray1:#ffffff80;
    --gray2:#f7d9d980;
    --black1:#1a1b1f;
    --black2:#30353b;
    --shadow:0 8px 8px;
    --color-shadow:#00000033;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece el alto mínimo de la ventana del navegador */
    font-family: 'Roboto', sans-serif;
}

main {
    flex-grow: 1; /* Hace que el contenido principal crezca para ocupar todo el espacio disponible */
    background-color: #1a1b1f;
}

/* INICIA HEADER */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}

.container-modificado{
    width: 60%;
}

.hero{
    width: 100%;
    min-height: 10vh;
    background: linear-gradient(180deg, #8a8b8c, #1a1b1f 100%);
}

.nav-hero{
    color: #fff;
    height:80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo{
    display:flex;
    width: 30vw;
    
    
}

.logo-name{
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: left;
    flex-grow:1 ;
    padding-left: 10px;
   
   
}

.loguito{
    
    display: flex;
    align-items: center;
    width: 80px; height: 80px;
   
   
}

.link{
    display: flex;
    align-items: center;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}

.link-active{
    color: var(--gold1);
    font-weight: 700;
}

.point{
    color: var(--gold1);
}

.hero-main{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.mockup{
    object-fit: cover;
    width: 35%;
    max-height: 100vh;
}

.hero-textos{
    width: 48%;
}

.titulo{
    font-size: 130px;
    font-weight: 300;
    color: #fff;
    text-shadow: var(--shadow) var(--color-shadow);
}

.letra1{
    color: var(--gold1);
    font-weight: 700;
}

.copy{
    font-size: 48px;
    color: var(--gold2);
    text-shadow: var(--shadow) var(--color-shadow);
    margin: 15px 0;
}

.copy-active{
    font-weight: 700;
}

/* FINAL DEL HEADER */
.btn-primary {
    background-color: #0070c9;
    color: #fff;
}
/* CONTENEDOR DE IMAGENES CATALOGO */
/* Gonzalo */

.contenedor-objetos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.objeto{
    border-radius: 10px;
}

.objeto:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.objeto img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.objeto figure{
    overflow: hidden;
}

.objeto:hover img{
    transform: scale(1.2);
}

.info-producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.precio{
    font-size: 18px;
    font-weight: 900;
}

.info-producto button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.slider {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 1500px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: whitesmoke;
  }
  table, td {
      background-color: rgba(240, 238, 238, 0.938);
  border: 1px solid black;
border-collapse: collapse;}

/* Estilos del footer */
#footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center; /* Alinea el texto al centro */
}

.footer-social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social ul li {
    display: inline-block; /* Para que los elementos se muestren en línea */
    margin-right: 20px; /* Espacio entre los iconos */
}

.footer-social ul li:last-child {
    margin-right: 0; /* Quita el margen derecho del último elemento para evitar espacios adicionales */
}

.footer-social ul li img {
    width: 32px; /* Establece el ancho de los iconos */
    height: auto; /* Mantiene la proporción de la imagen */
}

a {
    color: #ffffff; /* Cambia el color del texto de todos los enlaces a blanco */
}
.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 5px;
    flex: 1;
}

.search-button {
    padding: 0;
    background-color: white;
    border:1px solid #ccc;
    border-radius: 1000px;
    width: 70px;
    cursor: pointer;
}

.search-button img {
    width: 20px; /* ajusta el tamaño del icono según sea necesario */
}
.size-bar{
    padding: 5px 500px;
    
}

