/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece el alto mínimo de la ventana del navegador */
}

main {
    flex-grow: 1; /* Hace que el contenido principal crezca para ocupar todo el espacio disponible */
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos del header */
#header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center; /* Centra el contenido del header */
    display: flex; /* Utiliza flexbox para alinear verticalmente los elementos */
    align-items: center; /* Alinea verticalmente los elementos dentro del header */
}

.header-nav {
    margin-right: auto; /* Coloca el menú de navegación a la derecha */
}

.header-actions {
    margin-right: 20px; /* Ajusta el margen entre el menú y las acciones */
}

.header-nav ul {
    text-align: left; /* Alinea los elementos de la lista a la izquierda */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si el contenido es demasiado ancho */
}

.header-nav ul li {
    display: inline-block;
    padding: 0 15px; /* Espacio interno de cada elemento del menú */
}

.header-nav ul li a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}


.header-logo {
    margin-right: auto; /* Coloca el logo al lado izquierdo */
}

.header-logo img {
    height: 80px; /* Ajusta el tamaño del logo según sea necesario */
    width: auto; /* Mantiene la proporción de la imagen */
}

.header-actions .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #0070c9;
    color: #fff;
}

/* Estilos del footer */
#footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center; /* Alinea el texto al centro */
}

.footer-social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social ul li {
    display: inline-block; /* Para que los elementos se muestren en línea */
    margin-right: 20px; /* Espacio entre los iconos */
}

.footer-social ul li:last-child {
    margin-right: 0; /* Quita el margen derecho del último elemento para evitar espacios adicionales */
}

.footer-social ul li img {
    width: 32px; /* Establece el ancho de los iconos */
    height: auto; /* Mantiene la proporción de la imagen */
}

a {
    color: #ffffff; /* Cambia el color del texto de todos los enlaces a blanco */
}
.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 5px;
    flex: 1;
}

.search-button {
    padding: 0;
    background-color: white;
    border:1px solid #ccc;
    border-radius: 1000px;
    width: 70px;
    cursor: pointer;
}

.search-button img {
    width: 20px; /* ajusta el tamaño del icono según sea necesario */
}
.size-bar{
    padding: 5px 500px;
    background-color: #fffcfc;
}

/* Gonzalo */

.contenedor-objetos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.objeto{
    border-radius: 10px;
}

.objeto:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.objeto img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.objeto figure{
    overflow: hidden;
}

.objeto:hover img{
    transform: scale(1.2);
}

.info-producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.precio{
    font-size: 18px;
    font-weight: 900;
}

.info-producto button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.slider {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 1500px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: whitesmoke;
  }
  table, td {
      background-color: rgba(240, 238, 238, 0.938);
  border: 1px solid black;
border-collapse: collapse;}