/guia9/guia9-ejer2/nbproject/private/
/guia9/guia9-ejer2/build/
/guia9/guia9-ejer3/nbproject/private/
/guia9/guia9-ejer3/build/
/guia9/guia9-ejer3/dist/
/guia9/guia9-ejer4/nbproject/private/
/guia9/guia9-ejer4/build/
/guia9/guia9-ejer5/nbproject/private/
/guia9/guia9-ejer5/build/
/guia9/guia9-ejer5/dist/
