

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(253, 202, 60);
       
}

.navBar{
    align-items:center;
}


.icon{
    width: 70px;
        
}

.footer{
    height: 50px;
    text-align: center;
    border-top: 1px solid rgb(253, 202, 60);
}

.productos{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.producto{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.producto .info{
    width: 400px;
}

.producto img{
    width: 150px;
    height: 150px;
}

.producto .fav-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.detalle{
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;
}

.detalle img{
    width: 40%;
    height: 300px;
}