.root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(253, 202, 60);
    height: 80px;
    padding-top: 20px;
}

.header .tituloweb{
    color: #443963;
  font-weight: bold;
  font-size: 50px;
  font-family: Arial;
  padding-top: 20px;
  padding-right: 20px;
  
    
}

.icon{
    width: 50px;
}

.footer{
    height: 50px;
    text-align: center;
    border-top: 1px solid rgb(253, 202, 60);
}

.productos{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.producto{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.producto .info{
    width: 400px;
}

.producto img{
    width: 300px;
    height: 300px;
}

.producto .fav-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.detalle{
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;
}

.detalle img{
    width: 40%;
    height: 300px;
}